body {
  font-family: "Rock Salt", cursive;
}

h1 {
  font-family: "Faster One", system-ui;
  color: red;
  text-align: center;
}

h1 + p {
  color: rgb(66, 66, 210);
}

p {
  color: blue;
  margin-top: 20px;
  margin-bottom: 20px;
}

#container {
  background-image: url(./bgimage.jpg);
  background-position: center;
  height: 400px;
  padding: 20px;
}

#container p {
  background-color: white;
  color: black;
  padding: 15px;
}

a {
  color: green;
  text-decoration: underline;
  font-size: 10px;
}

a + p {
  font-weight: bold;
}
