h1 {
    align-content: justify;
    font-family: "Faster One", system-ui;
    text-align: center;
    color: #A52A2A;
    font-weight: 900px;
    font-style: bold;

}

h2 {
    font-family: "Comforter", cursive;
    font-weight: 400;
    font-style: normal;
    color: blue;
}

a {
    text-decoration: none;
    color: #15c11b;
    font-family: "Comforter", cursive;
    font-weight: 400;
    font-style: normal;
}

h3 {

    text-decoration: solid;
    color: #1900ff;
    font-family: "Comforter", cursive;
    font-weight: 700px;
    font-style: bold;
}

.text {
    background-color: white;
    color: #000000;
    font-weight: 100%;
    width: 90%;
    text-align: center;
    justify-content: center;
    font-family: "Comforter", cursive;
}

.container {
    background-image: url('./asessts/asake.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px 30px;
    max-width: 100%;
    height: 40vh;
}